apiVersion: v1
kind: Service
metadata:
  name: frontend
  labels:
    app: guestbook
    tier: frontend
spec:
  # test 25-min reconnection - 14:27
  type: NodePort
  ports:
  - port: 80
  selector:
    app: guestbook
    tier: frontend
