apiVersion: v1
kind: Service
metadata:
  name: frontend
  labels:
    app: guestbook
    tier: frontend
spec:
  # raw table test - start 14:35
  type: NodePort
  ports:
  - port: 80
  selector:
    app: guestbook
    tier: frontend
