apiVersion: v1
kind: Service
metadata:
  name: frontend
  labels:
    app: guestbook
    tier: frontend
spec:
  # test 25-min reconnection - start 14:31
  type: NodePort
  ports:
  - port: 80
  selector:
    app: guestbook
    tier: frontend
