apiVersion: v1
kind: Service
metadata:
  name: frontend
  labels:
    app: guestbook
    tier: frontend
spec:
  # test reconnection timing - 14:24
  type: NodePort
  ports:
  - port: 80
  selector:
    app: guestbook
    tier: frontend
